<?xml version="1.0"?>
<configuration>

	<configSections>
		<section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, log4net"/>
	</configSections>
	<log4net debug="false">
		<appender name="ColoredConsoleAppender" type="log4net.Appender.ColoredConsoleAppender">
			<!-- To exclude logging from any files, add filter tags in the below section -->
			<filter type="log4net.Filter.LoggerMatchFilter">
				<loggerToMatch value="Loan.Business.Service"/>
				<acceptOnMatch value="false"/>
			</filter>
			<!-- To exclude logging from any files, add filter tags in the above section -->
			<target value="Console.Error"/>
			<mapping>
				<level value="FATAL"/>
				<foreColor value="Red"/>
				<backColor value="White"/>
			</mapping>
			<mapping>
				<level value="ERROR"/>
				<foreColor value="Red, HighIntensity"/>
			</mapping>
			<mapping>
				<level value="WARN"/>
				<foreColor value="Yellow"/>
			</mapping>
			<mapping>
				<level value="INFO"/>
				<foreColor value="Cyan"/>
			</mapping>
			<mapping>
				<level value="DEBUG"/>
				<foreColor value="Green"/>
			</mapping>
			<layout type="log4net.Layout.PatternLayout">
				<conversionPattern value="%date [%thread] %level %logger %ndc - %message%newline"/>
			</layout>
		</appender>
		<appender name="RollingLogFileAppender" type="log4net.Appender.RollingFileAppender">
			<!-- To exclude logging from any files, add filter tags in the below section -->
			<filter type="log4net.Filter.LoggerMatchFilter">
				<loggerToMatch value="GUIDE.Business.Service"/>
				<acceptOnMatch value="false"/>
			</filter>
			<!-- To exclude logging from any files, add filter tags in the above section -->
			<file value="C:\MizuhoApps\Logs\EntityHelper.log"/>
			<appendToFile value="true"/>
			<rollingStyle value="Composite"/>
			<maxSizeRollBackups value="10"/>
			<maximumFileSize value="5MB"/>
			<layout type="log4net.Layout.PatternLayout">
				<conversionPattern value="%date [%thread] %level %logger %ndc - %message%newline"/>
			</layout>
		</appender>
		<root>
			<level value="ALL"/>
			<appender-ref ref="ColoredConsoleAppender"/>
			<appender-ref ref="RollingLogFileAppender"/>
		</root>
	</log4net>
	<system.diagnostics>
		<switches>
			<add name="DatabaseSwitch" value="0"/>
			<add name="TraceLevelSwitch" value="1"/>
			<add name="ProductionSwitch" value="1"/>
			<add name="RemoteLogSwitch" value="1"/>
		</switches>
		<trace autoflush="true" indentsize="3">
			<listeners>
				<add name="mhcb.net.application" type="System.Diagnostics.EventLogTraceListener" initializeData="Application"/>
				<!-- add name="myListener" type="System.Diagnostics.TextWriterTraceListener,System" initializeData="c:\myLog.txt" / -->
				<!--<remove type="System.Diagnostics.DefaultTraceListener" />-->
			</listeners>
		</trace>
	</system.diagnostics>
	<appSettings>
		<add key="LogFile" value="c:\\mhcb.LCS.log"/>
		<add key="EventLogSource" value="Application"/>
		<add key="EventLogName" value="mhcb.net.application"/>
		<add key="SQLServer" value="Localhost\MIZSQL2016"/>
		<add key="Trusted_Connection" value="false"/>
		<add key="IntegratedSecurity" value="false"/>
		<!--<add key="Database" value="GUIDE" />
		<add key="SQLUser" value="GuideUsers" />
		<add key="SQLPass" value="zaq1xsw@" />-->
		<add key="Database" value="LOAN"/>
		<add key="SQLUser" value="sa"/>
		<add key="SQLPass" value="Shanghai1"/>
		<add key="IsLoading" value="false"/>
		<add key="EntityNamespace.VB" value="Loan.Entity.VB"/>
		<add key="EntityNamespace.CS" value="Loan.Entity.CS"/>

		<add key="DSNamespace.VB" value="Loan.DataService.VB"/>
		<add key="DSNamespace.CS" value="Loan.DataService.CS"/>
		<add key="DSClassPrefix" value="Invoke"/>
		<add key="SPPrefix" value="USP_LOAN"/>
		<add key="BusinessTierURL" value="http://localhost/HttpBinary/"/>
		<add key="BusinessTierURL" value="tcp://localhost:9932/"/>
		<add key="IsRemoting" value="false"/>
		<add key="ClientSettingsProvider.ServiceUri" value=""/>
	</appSettings>
	<startup>
		<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8"/>
	</startup>
	<system.web>
		<membership defaultProvider="ClientAuthenticationMembershipProvider">
			<providers>
				<add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri=""/>
			</providers>
		</membership>
		<roleManager defaultProvider="ClientRoleProvider" enabled="true">
			<providers>
				<add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400"/>
			</providers>
		</roleManager>
	</system.web>
</configuration>
